webodf/tests/xmled/complex01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/" >
  <xs:element name="a">
    <xs:complexType>
    </xs:complexType>
  </xs:element>
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="a"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="e">
    <xs:complexType>
      <xs:attribute name="num" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

